
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container{
        margin-top:200px;
    }
</style>
<div class="container">
    <iframe  src="https://maps.app.goo.gl/TdXJxoWnadtN6wAG7" width="1280" height="550" style="border: 0; margin: 0 auto" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

