@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Long Biên<br />
    số 7 ngách 53/49 đức giang<br />
    <abbr title="Phone">P:</abbr>
    0868250923
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:luudhung123@gmail.com">luudhung123@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:luudhung123@gmail.com">luudhung123@gmail.com</a>
</address>